@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






/* Image animations */

@keyframes elementor-animation-bob {
  0% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-8px);
  }
}

@keyframes elementor-animation-bob-float {
  100% {
    transform: translateY(-8px);
  }
}

.elementor-animation-bob:active,
.elementor-animation-bob:focus,
.elementor-animation-bob:hover {
  animation-name: elementor-animation-bob-float, elementor-animation-bob;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}





/* Page title section */

.page-title {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}

.page-title h1 {
  font-weight: 500;
  padding: 5px 0;
  text-transform: capitalize;
  float: none;
  color: #000;
  font-size: 24px;
}

.subtitle {
  float: none;
  line-height: 13px;
  padding: 0px 0 10px;
  color: #000;
  font-weight: 300;
  font-size: 14px;
}

.subtitle a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}


/* About out store */

.about-our-store {
  margin-bottom: 80px !important;
  margin-top: 30px;
}

.about-widget {
  padding: 0px 15px 0px 0px;
}

.about-widget h3 {
  color: rgba(0, 0, 0, .5);
  font-size: 15px;
  padding: 10px 0;
  font-weight: 400;
}

.about-widget h2 {
  padding: 0px 0px 20px 0px;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.about-widget p {
  margin-bottom: 10px !important;
  color: #777777;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.about-image {
  padding: 15px 0px 0px 15px;
}

.about-image img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
}

.about-image img:hover {
  animation-name: elementor-animation-bob-float, elementor-animation-bob;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}



/* Our features */

.our-features {
  margin-bottom: 80px !important;
}

.features-title {
  margin-bottom: 30px !important;
  text-align: center;
}

.features-title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #878787;
  line-height: 20px;
}

.features-title h2 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 0;
  border: none;
  color: #000;
  text-transform: capitalize;
}

.features-widget {
  padding: 20px 20px 20px 20px;
  background-color: #f3f7f8;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #F5F6F9;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 5px 0px 0px;
  --e-column-margin-right: 20px;
  --e-column-margin-left: 0px;
  border-radius: 5px 5px 5px 5px;
  min-height: 16em;
}

.zero-m {
  margin: 0px 0px 0px 0px;
}

.features-widget:hover {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #015ADE;
}

.widget-icon {
  margin-bottom: 15px !important;
  margin-right: auto;
  margin-left: auto;
}

.widget-icon img {
  width: 70px;
  height: 70px;
  position: relative;
  display: block;
  transition: all .3s;
  filter: brightness(0) saturate(100%) invert(27%) sepia(77%) saturate(2870%) hue-rotate(208deg) brightness(84%) contrast(109%);
}

.widget-icon img:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(31%) hue-rotate(284deg) brightness(104%) contrast(102%);
}

.third {
  background: url(../images/layers.png);
  width: 70px;
  height: 70px;
  background-size: 121%;
  transform: translate(-5px, -6px);
  transition: all .3s;
}

.third:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(31%) hue-rotate(284deg) brightness(104%) contrast(102%);
}

.widget-description h3 {
  margin-bottom: 20px !important;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.widget-description p {
  color: #7a7a7a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}






/* Best projects */

.best-projects {
  margin-bottom: 80px !important;
}

.best-projects__title {
  margin-bottom: 40px !important;
  text-align: center;
}

.best-projects__title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #878787;
  line-height: 20px;
}

.best-projects__title h2 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 0;
  border: none;
  color: #000;
  text-transform: capitalize;
}

.best-projects img {
  border-radius: 10px 10px 10px 10px;
  max-width: 100%;
}

.best-projects img:hover {
  animation-name: elementor-animation-bob-float, elementor-animation-bob;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}




/* Best features */

.best-features {
  margin-bottom: 80px !important;
  padding: 50px 0px 50px 0px;
  background-color: #F5F6F9;
  text-align: center;
}

.best-features__title {
  margin-bottom: 30px !important;
  text-align: center;
}

.best-features h4 {
  font-size: 18px;
  font-weight: 400;
  color: #878787;
  line-height: 20px;
}

.best-features h2 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 0;
  border: none;
  color: #000;
  text-transform: capitalize;
}

.best-features__widget {
  position: relative;
  padding: 30px 0 0;
}

.best-features__widget::after {
  content: '';
  height: 63px;
  top: 16px;
  right: 20px;
  border-left: 1px solid #dadada;
  position: absolute;
}

.best-features .col-md-3 {
  cursor: crosshair;
}

.best-features .col-md-3:hover .best-features__description h4 {
  color: #015ADE;
}

.best-features .col-md-3:last-child .best-features__widget::after {
  display: none;
}

.best-features__icon {
  min-width: 70px;
  min-height: 60px;
  display: inline-block;
}

.best-features__description h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding-top: 0;
  text-transform: capitalize;
  color: #000;
  transition: 0.3s ease;
}

.best-features__description span {
  font-weight: 400;
  margin: 5px auto 0;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}



/* Best team */

.best-team {
  margin-bottom: 60px !important;
  text-align: center;
}

.best-team__title {
  margin-bottom: 30px !important;
}

.best-team__title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #878787;
  line-height: 20px;
}

.best-team__title h2 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 0;
  border: none;
  color: #000;
  text-transform: capitalize;
}

.person-img img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px !important;
}

.person-description {
  padding: 15px;
  background-color: #f3f7f8;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s ease;
}

.person-description span {
  color: #000;
  font-size: 12px;
  margin: 0 0;
  display: inline-block;
  transition: 0.3s ease;
}

.person-description h3 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0 12px;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
}

.person-card:hover .person-description {
  background-color: #015ADE;
}

.person-card:hover .person-description span {
  color: #fff;
}

.person-card:hover .person-description h3 {
  color: #fff;
}

.person-card:hover .person-description i {
  color: #fff;
}

.person-media {
  margin: 6px auto 0;
}

.person-media i {
  display: inline-block;
  margin: 0 8px 5px;
  color: #015ADE;
  font-size: 14px;
  cursor: pointer;
}


.col-sm-five {
  width: 20%;
  float: left;
}
