@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  margin-bottom: 0!important;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
}

.container{
  max-width: 1480px;
  margin: auto;
}

img, svg {
  vertical-align: inherit;
}

 /* topbar */

.topbar{
  background: #F5F5F5;
  color: #000000;
  font-size: 14px;
  padding: 10px 0;
}

.topbar-text img:nth-of-type(1){
  margin-right: 10px;
}

.topbar-text img:nth-of-type(2){
  margin-right: 13px;
  margin-left: 30px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-text{
  display: flex;
}

.dropdown{
  position: relative;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 7px 0px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 2px 2px 11px rgb(0 0 0 / 10%);
  width: 80px;
  border-radius: 5px;
 
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

 
.dropdown:hover .dropdown-content {
  display: block;
}

/* header-top */

.header-top{
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.header-search{
  flex-grow: 0.50;
}



.wbtop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-search-widget{
 display: flex;
 position: relative;
}

 
.customSelect{
  width: 170px;
  height: 50px;
  appearance: none;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 1px solid #eee;
  padding: 10px 10px 10px 20px;
  text-transform: capitalize;
  outline: none;
  width: 170px;
  height: 50px;
  background-color: #f5f5f5;
}


.search-field{
  color: #000;
  height: 50px;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  padding: 8px;
  flex: 1;
}

.customSelectArrow{
  background: url(../images/down_arrow.png) no-repeat ; 
  width: 15px;
  height: 15px;
  position: absolute;
  left: 9rem;
  top: 45%;
  cursor: pointer;
}

.customSelectOpen{
  background: url(../images/up_arrow.png) no-repeat ; 
  width: 15px;
  height: 15px;
  position: absolute;
  left: 9rem;
  top: 45%;
  cursor: pointer;
}

.product-search-widget button{
  padding: 9px 50px;
  border-radius: 0 30px 30px 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  border: none;
  outline: none;
  background-color: #015ADE;
  transition: 0.4s;
  letter-spacing: 1px;
  cursor: pointer;
}

.product-search-widget button:hover{
  background-color: #000000;
}



.headerbottom-text {
  font-size: 18px;
  color: #000000;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: bold;
  animation: flicker 1.2s infinite;
  float: right;
  padding: 13px 0 13px 50px;
  position: relative;
}

.headerbottom-text::before{
  position: absolute;
  background-size: 100%;
  background: url(../images/label1.svg) no-repeat;
  height: 33px;
  width: 33px;
  content: "";
  left: 5px;
  top: 6px;
}

@keyframes flicker {
  50% {
    color: #015ADE; 
	}

  100% {
    color: #000000; 
	} 
}

/* headerbottom */

.header-bottom{
  padding: 5px 0;
}

.wbbottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0px;
}

.category-list{
  display: flex;
  cursor: pointer;
}

.category-list h3{
  padding-left: 40px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}

.category-list h3::before{
  position: absolute;
  content: '';
  height: 14px;
  width: 32px;
  background: url(../images/menu.svg) no-repeat;
  background-size: 88%;
  left: 0;
  display: inline-block;
}

/* mega-menu */

.megamenu{
  padding: 0;
  border: 1px solid #e4e4e4;
  background: #fff;
  position: absolute;
  width: 265px;
  list-style: none;
  z-index: 9;
  top: 11.5rem;
  display: none;
  border-radius: 5px;
  background-color: #fff !important;
  cursor: pointer;
}

.header-bottom ul.megamenu li{
  padding: 14px 14px;
  transition: 0.5s;
}

.header-bottom ul.megamenu li a{
  text-transform: capitalize !important;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.header-bottom ul.megamenu li:nth-of-type(1) a::after{
  content: '\f105';
  position: absolute;
  font-family: FontAwesome;
  top: 6%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: auto;
  right: 10px;
}

.header-bottom ul.megamenu li ul .megamenu-list li a::after{
  content: none;
}
.header-bottom ul.megamenu li ul .megamenu-list-last li a::after{
  content: none;
}


.header-bottom ul.megamenu li:hover a{
  color:#015ADE;
}

/* sidemenu */

.header-bottom ul.megamenu li:nth-of-type(1) ul{
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 11px 10px;
  text-align: left;
  display: flex;
  /* transition: 0.5s; */
  left: 100%;
  width: 760px;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  z-index: -1;
  flex-wrap: wrap;
}

 
.header-bottom ul.megamenu li:nth-of-type(1) ul li{
  padding: 8px 0px;
  list-style-type: none;
  display: block;
}

.header-bottom ul.megamenu li:nth-of-type(1) ul li a{
  font-size: 14px;
  color: #000;
  transition: 0.5s;
}

.header-bottom ul.megamenu li:nth-of-type(1) ul li:hover a{
  color: #015ADE;
}

.megamenu-list{
  flex: 0 0 22%;
}

.megamenu-list-last{
  flex:0 0 48%;
}

.megamenu li ul .megamenu-list li:nth-of-type(1) a{
  font-weight: 800;
}
.megamenu li ul .megamenu-list-last li:nth-of-type(1) a{
  font-weight: bold;
}



.last-items, .last-items-2{
  display: flex;
  transition: 0.5s;
}

.last-items-2{
  display: flex;
  align-items: center;
}

.last-items-span-1{
  text-overflow: ellipsis;
  line-height: 18px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 4px;
  transition: 0.5s;
}

.last-items-span-1 span, .last-items-span-2 span{
  transition: 0.5s;
}

.last-items-span-2{
  display: inline-block;
  width: 68%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 4px;
  transition: 0.5s;
}

.last-2-items-span{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 13rem;
  padding-left: 13px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s;
}

.last-2-items-span span{
  transition: 0.5s;
}

.last-2-items-span span:hover{
  color: #015ADE;
}

.last-items:hover .last-items-span-1 span:nth-of-type(1){
  color: #015ADE;
}

.last-items:hover .last-items-span-2 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-2:hover .last-items-span-1 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-2:hover .last-items-span-2 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-span-1 div, .last-items-span-2 div{
  padding-top: 17px;
}



.navigation ul{
  display: flex;
  align-items: center;
  margin: 0;
}

.navigation ul li span::after{
  content: "\f078";
  font-family: fontawesome;
  display: inline-block;
  color: #000;
  position: unset;
  font-size: 8px;
  margin-left: 5px;
  line-height: 21px!important;
  vertical-align: top;
}



.navigation:nth-of-type(1) ul li{
  list-style-type: none;
  margin: 0 28px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-transform: capitalize;
}

.navigation ul li a{
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.navigation ul li a:hover{
  color:#015ADE;
}


.account-cart{
  display: flex;
}

.account-card-images{
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.wishlist-menu, .topbar-link, .header-cart{
  cursor: pointer;
}

.wishlist-menu p, .topbar-link p, .header-cart p{
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  margin: 0;
}

.topbar-link:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.topbar-link:hover  p {
  color:#015ADE;
}

.wishlist-menu:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.wishlist-menu:hover  p {
  color:#015ADE;
}


.header-cart:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.header-cart:hover  p {
  color:#015ADE;
}




 

.wishlist-menu span:nth-of-type(1) img{
  width: 33px;
  height: 33px;
}

.flex-cards{
  display: flex;
  align-items:center;
  position: relative;
}

.quanitity{
  position: absolute;
  text-align: center;
  line-height: 15px;
  top: 1px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  right: 41px;
  background-color: #015ADE !important;
}






.navigation li{
  position:relative;
}

.navigation  li  ul{
  background:rgba(0,0,0,0.1);
  position:absolute;
  top:100%;
  left:0;
  opacity:0;
  visibility: hidden;
  transform: translateY(20px);
  transition:all 200ms ease-in-out;
  width: 235px;
  padding-left: 0;
  z-index: 2;
}
 
 

.navigation  li:hover  ul{
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 11px rgb(0 0 0 / 10%);
  border-radius: 5px;
  display: inline;
  text-align: left;
  opacity:1;
  visibility: visible;
  transform: translateY(0px);
  transition:all 300ms ease-in-out;
  width: 235px;
  z-index: 2;
}
 

.navigation ul li:nth-of-type(3) ul li{
  list-style-type: none;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 20px;
  padding-left: 25px;
}

.navigation ul li:nth-of-type(3) ul li:nth-of-type(3){
  margin-bottom: 20px!important;
}


.navigation ul li:nth-of-type(3) ul{
  display: inline;
}


/* carousel */

.special-section{
  background: linear-gradient(0deg, #f5f5f5 18%, #fff 0%);
}

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.6s;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}


.carousel-indicators [data-bs-target] {
  background-color: #015ADE !important;
  height: 16px !important;
  width: 16px !important;
  margin: 0 6px;
  border-radius: 20px;
  border-top: none!important;
  border-bottom: none!important;
  transition: 0.5s;
}

.carousel-indicators .active{
background-color: #ffffff!important;
}

.carousel-inner{
  border-radius: 12px;
}

.carousel-caption{
  position: absolute;
  bottom: 6.25rem;
  left: 3%;
  color: #fff;
  text-align: center;
}

.main_box{
  text-align: left;
  max-width: 68%;
}

.main_box p{
  font-size: 28px;
  text-transform: uppercase;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.main_box h2{
font-size: 42px;
line-height: 58px;
margin: 15px 0;
margin-bottom: 15px!important;
margin-top: 15px;
text-transform: uppercase;
}

.main_box p:nth-of-type(3){
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-transform: initial;
  font-weight: 400;
  padding-top: 25px;
}

.main_box .slider_btn{
  font-size: 16px;
  font-weight: 500;
  padding: 17px 31px;
  text-transform: capitalize;
  transition: .3s ease;
  background-color: #015ADE;
  border-radius: 30px;
  letter-spacing: 0.3px;
  box-shadow: 0 0 5px #0003;
  margin-top: 40px;
  display: inline-block;
  cursor: pointer;
}

.main_box .slider_btn a{
  font-weight: 500;
  text-transform: capitalize;
  transition: .3s ease;
  color: #fff;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.main_box .slider_btn:hover{
  background-color: #ffffff!important;
}

.main_box .slider_btn:hover a{
  color: #015ADE!important;
}




/* widgets */

.firs-widget, .second-widget{
  position: relative;
  display: flex;
}

.firs-widget img, .second-widget img{
  border-radius: 12px;
  max-width: 100%;
}

 

 

.static-inner{
  display: inline-flex;
  position: absolute;
  top: 11%;
  flex-direction: column;
  /* align-items: center; */
  /* display: grid; */
  left: 4%;
  width: 59%;
  text-align: left;
}

.static-text{
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 9px;
}

.static-inner span:nth-of-type(2){
  padding: 10px 0px 10px 0px;
}

.elements-widget .second-widget .static-inner span.static-text:nth-of-type(5){
  padding: 10px 0px 10px 0px;
}


.text{
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
}

.firs-widget::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
}

.firs-widget:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
}

.second-widget::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
}

.second-widget:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
}




.responsive-topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.site-icon{
  display: flex;
  align-items: center;
}

.none{
  display: none;
}



/* SPECIAL PRODUCT SECTION */

.special-product{
  padding: 0px 0px 60px 0px;
  background: #f5f5f5;
}

.special-product h2{
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 800;
  order: -1;
  display: flex;
  background-color: transparent;
  height: 90px;
  flex: 1;
  align-items: center;
}

.special-product h2::before{
  content: '';
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 0px;
  background-color: #015ADE;
}

.p-slide{
  width: 260px;
  display: flex!important;
  justify-content: center;
  border-radius: 10px;
}

.p-slide:hover .wrapper{
  box-shadow: 0 0 5px #0003;
}


.p-slide:hover .image-block-hover{
  opacity: 1;
  transition: 0.5s;
}

.product-detail-wrapper{
  background: #fff;
  padding: 10px 15px 20px 15px;
  width: 14.4rem;
  border-radius: 0px  0px 10px 10px;
}

.product-detail-wrapper small{
  font-weight: 400;
  color: #707070;
  font-size: 16px;
  text-decoration: line-through;
  margin: 0 5px 0px 0px;
}

.product-detail-wrapper span:nth-of-type(2){
  font-weight: bold;
  font-size: 22px;
}

.product-detail-wrapper span:nth-of-type(1) {
  display: table;
  color: #fcae01;
}

.wrapper{
  width: 14.4rem;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  margin: 2px 0px 0px;
  margin-bottom: 2px!important;
}


.sale{
  color: #000;
  display: inline-block;
  font-size: 12px;
  left: 15px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  z-index: 5;
  vertical-align: top;
  line-height: 21px;
  width: 44px;
  height: 21px;
  background-color: #FBB50A !important;
  border-radius: 10px;
  letter-spacing: 0.8px;
  font-weight: 400;
  opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

.product-detail-wrapper h3{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: .3s ease;
  cursor: pointer;
}

.product-detail-wrapper a{
  text-decoration: none;
  padding: 7px 0px 7px 0px;
  display: block;
  text-transform: capitalize;
}

.product-detail-wrapper h3:hover{
  color: #015ADE;
}

.price-wrapper{
  display: flex;
  align-items: center;
}

.price-wrapper span{
  font-weight: bold!important;
  font-size: 22px!important;
  color: #000!important;
}

.image-block{
  position:absolute;
  z-index: -1;
  cursor: pointer;
}


.image-block-hover{
  position: relative;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.image-block img{
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}

.image-block-hover img{
  border-radius: 10px 10px 0px 0px;
}

/* special products slider arrows */

 .slick-arrow{
  font-size: 0;
  border: none;
  outline: none;
}

 .slick-track{
  display: flex;
  align-items: flex-start;
 }

 .slick-arrow.slick-disabled{
  cursor: no-drop;
 }

 .slider-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0px 0px 0px;
 }
 
 .slick-arrow.slick-prev{
    border-radius: 50%;
    top: 0;
    background: url(../images/arrow-left.svg) no-repeat center;
    background-size: 60%;
    opacity: 1 !important;
    transition: 0.3s ease;
    margin: 0rem 1.3rem 0rem 0rem;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px #0003;
} 

.slick-arrow.slick-prev:hover{
  background: #015ADE url(../images/arrow-left-white.svg) no-repeat center;
  background-size: 60%;
}
 
.slick-arrow.slick-next:hover{
  background: #015ADE url(../images/arrow-right-white.svg) no-repeat center;
  background-size: 60%;
}
.slick-arrow.slick-next{
    border-radius: 50%;
    margin: 0;
    background: url(../images/arrow-right.svg) no-repeat center;
    background-size: 60%;
    opacity: 1 !important;
    transition: 0.3s ease;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px #0003;
} 

/* back icons styles */

.back-icons{
  font-size: 0;
  padding: 0;
  top: 6rem;
  left: 2rem;
  display: flex;
  position: absolute;
}

  

.cart{
  background-image: url(../images/cart.svg);
  font-size: 0;
  text-transform: capitalize;
  height: 35px;
  width: 35px;
  padding: 0;
  transition: 0.5s;
  border: none;
  color: #000;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 16px;
  background-color: #fff;
  background-position: center;
  margin: 0 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  left: 0;
  right: 0;
  padding-top: 11px;
  box-shadow: 0 0 5px #0003;
  letter-spacing: 0;
}

.cart:hover{
  background-image: url(../images/cart-hover.svg);
  background-color:#015ADE;
}

.heart{
  background-image: url(../images/heart.svg);
  font-size: 0;
  text-transform: capitalize;
  height: 35px;
  width: 35px;
  padding: 0;
  border: none;
  color: #000;
  font-weight: 400;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 16px;
  background-color: #fff;
  background-position: center;
  margin: 0 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  left: 0;
  right: 0;
  padding-top: 11px;
  box-shadow: 0 0 5px #0003;
  letter-spacing: 0;
}

.heart:hover{
  background-image: url(../images/heart-hover.svg);
  background-color:#015ADE;
}

.compare{
  background-image: url(../images/compare.svg);
  font-size: 0;
  text-transform: capitalize;
  height: 35px;
  width: 35px;
  padding: 0;
  border: none;
  transition: 0.5s;
  color: #000;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 16px;
  background-color: #fff;
  background-position: center;
  margin: 0 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  left: 0;
  right: 0;
  padding-top: 11px;
  box-shadow: 0 0 5px #0003;
  letter-spacing: 0;
}

.compare:hover{
  background-image: url(../images/compare-hover.svg);
  background-color:#015ADE;
}

.eye{
  background-image: url(../images/eye.svg);
  font-size: 0;
  text-transform: capitalize;
  transition: 0.5s;
  height: 35px;
  width: 35px;
  padding: 0;
  border: none;
  color: #000;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 16px;
  background-color: #fff;
  background-position: center;
  margin: 0 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  left: 0;
  right: 0;
  padding-top: 11px;
  box-shadow: 0 0 5px #0003;
  letter-spacing: 0;
}

.eye:hover{
  background-image: url(../images/eye-hover.svg);
  background-color:#015ADE;
}
 



/* top category slider */

.top-categories{
  padding: 0px 0px 60px 0px;
}

.slider-items{
  display: flex!important;
  justify-content: center;
}

.top-categories h2{
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 800;
  order: -1;
  display: flex;
  background-color: transparent;
  height: 90px;
  flex: 1;
  align-items: center;
}

.top-categories h2::before {
  content: '';
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 0px;
  background-color: #015ADE;
}

.cat-description{
  padding-top: 15px;
  transition: 0.5s;
}

.cat-description p{
  font-size: 16px;
  line-height: 18px;
  color: #015ADE;
  font-weight: 600;
}

.cat-description .cat-name{
  display: inline-block;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
  transition: 0.5s;
}

.slider-header-cat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 0px 0px 0px;
}

.cat-wrapper{
  display: inline-block;
  text-align: center;
}

.cat-wrapper:hover .slider-images img{
  filter: brightness(0) invert(1);
}

.cat-wrapper:hover .slider-images{
  background-color: #015ADE;
}

.cat-wrapper:hover .cat-description .cat-name {
  color: #015ADE;
}

.slider-images{
  box-shadow: 0 0 7px #0003;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 2px 3px;
  padding-top: 45px;
  transition: 0.5s;
}

.slider-images img{
  margin: 0px auto 0;
  cursor: pointer;
}



/* widget section */

.widget{
  background: linear-gradient(0deg, #f5f5f5 60%, #fff 0%);
}

.widget-img{
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.widget-img::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
  z-index: 1;
}

.widget-img:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
  z-index: 1;
}

.widget-img:hover img{
  border-radius: 0px;
  transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.widget-img img{
  max-width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.span-inner-des{
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.span-inner-des span:nth-of-type(1){
  color: #fff;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0 10px;
  text-transform: capitalize;
  letter-spacing: 0.48px;
}

.span-inner-des span:nth-of-type(1)::after{
  position: absolute;
  content: '';
  width: 60px;
  height: 3px;
  background-color: #fff;
  right: -70px;
  top: 30px;
}

.span-inner-des span:nth-of-type(2){
  color: #ffffff;
  display: block;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 0;
}


/* best deals section */

.best-deals{
  background: #f5f5f5;
  padding: 0px 0px 60px 0px;
}

.slider-header-deals{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.best-deals h2{
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 800;
  order: -1;
  display: flex;
  background-color: transparent;
  height: 90px;
  flex: 1;
  align-items: center;
}

.best-deals h2::before{
  content: '';
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 0px;
  background-color: #015ADE;
}

.image-block-deals{
  cursor: pointer;
}

.image-block-deals img{
  height: 340px;
  border-radius: 10px 10px 0px 0px;
}



.product-detail-wrapper__deals{
  background: #fff;
  padding: 10px 15px 20px 15px;
  width: 21.22rem;
  border-radius: 0px 0px 10px 10px;
}

.product-detail-wrapper__deals small{
  font-weight: 400;
  color: #707070;
  font-size: 16px;
  text-decoration: line-through;
  margin: 0 5px 0px 0px;
}

.product-detail-wrapper__deals span:nth-of-type(2){
  font-weight: bold;
  font-size: 22px;
}

.product-detail-wrapper__deals span:nth-of-type(1) {
  display: table;
  color: #fcae01;
}

.product-detail-wrapper__deals h3{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: .3s ease;
  cursor: pointer;
  padding-top: 25px;
}

.product-detail-wrapper__deals a{
  text-decoration: none;
  padding: 7px 0px 7px 0px;
  display: block;
  text-transform: capitalize;
}

.product-detail-wrapper__deals h3:hover{
  color: #015ADE;
}

.wrapper-deals{
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  margin: 2px 0px 0px;
  margin-bottom: 2px!important;
}

.best-img{
  position: relative;
  text-align: center;
  max-width: max-content;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  height: 561px;
  overflow: hidden;
}

.best-img img {
  max-width: 100%;
  border-radius: 10px;
  height: 561px;
  width: 518px;
}


.best-img::before{
    background-color: rgba(255,255,255,.3);
    content: "";
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate3d(1,1,0,100deg);
    transition: all 0.7s ease 0s;
    border-radius: 0px;
    z-index: 1;
}

.best-img:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
  z-index: 1;
}

.span-inner-des__best{
  right: 0;
  left: 0;
  top: 20px;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.span-inner-des__best span:nth-of-type(1){
  color: #fff;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0 10px;
  text-transform: capitalize;
  letter-spacing: 0.48px;
}

.span-inner-des__best span:nth-of-type(2){
  text-transform: capitalize;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0px 0 30px;
  color: #fff;
  width: 78%;
}


.span-inner-des__best .slider_btn{
  font-size: 16px;
  font-weight: 500;
  padding: 17px 31px;
  text-transform: capitalize;
  transition: .3s ease;
  background-color: #015ADE;
  border-radius: 30px;
  letter-spacing: 0.3px;
  box-shadow: 0 0 5px #0003;
  display: inline-block;
  cursor: pointer;
}

.span-inner-des__best .slider_btn a{
  font-weight: 500;
  text-transform: capitalize;
  transition: .3s ease;
  color: #fff;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.span-inner-des__best .slider_btn:hover{
  background-color: #ffffff!important;
}

.span-inner-des__best .slider_btn:hover a{
  color: #015ADE!important;
}





/* best deals timer styles */

.clock{
  display: flex;
  position: absolute;
  top: 10rem;
  left: 2.6rem;
}

.clock div{
  width: 55px;
  height: 55px;
  background:#f5f5f5;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
}

.clock .text{
  font-size: 12px;
  font-weight: initial;
  color: black;
  display: block;
  text-align: center;
}
.clock div span:nth-of-type(1){
  display: block;
  font-size: 20px;
  font-weight: 600;
}

/* Customers review section */

.customers{
  padding: 0px 0px 80px 0px;
  background: linear-gradient(0deg, #f5f5f5 40%, #fff 0%);
}
.slider-header-customers{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.customers h2{
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 800;
  order: -1;
  display: flex;
  background-color: transparent;
  height: 90px;
  flex: 1;
  align-items: center;
}

.customers h2::before{
  content: '';
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 0px;
  background-color: #015ADE;
}

.testmonial-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 0px 25px 20px;
  border-radius: 10px;
  margin-top: 50px;
  margin: 50px 15px;
  border: 1px solid #e2e2e2;
  transition: 0.5s;
}

.testmonial-wrapper:hover{
  box-shadow: 0 0 5px #0003;
}

.testmonial-image img{
  margin-top: -50px;
}

.testmonial-description{
  width: 90%;
}

.testmonial-description h4{
  text-transform: capitalize;
  color: #000;
  font-weight: 800;
  position: relative;
  padding-top: 10px;
  margin-bottom:10px!important;
  font-size: 18px;
  line-height: 20px;
  margin-right: 0;
  letter-spacing: 0.5px;
  transition: 0.5s;
  cursor: pointer;
}

.testmonial-description h4:hover{
  color: #015ADE;
}

.testmonial-description p{
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  letter-spacing: 0.5px;
  line-height: 18px;
  padding-bottom: 15px;
  cursor: pointer;
}

.testmonial-description blockquote{
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  color: #707070;
}



/* Featured product section */


.featured-product{
  padding: 0px 0px 80px 0px;
  background: #f5f5f5;
}
.slider-header-filter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.slider-header-filter-2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.slider-header-filter-3{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.featured-product h2{
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 800;
  order: -1;
  display: flex;
  background-color: transparent;
  height: 90px;
  flex: 1;
  align-items: center;
}

.featured-product h2::before{
  content: '';
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 0px;
  background-color: #015ADE;
}

.featured-filters{
  order: -1;
  padding: 0px 6px 0px 0px;
}

.featured-filters span{
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px 25px;
  font-weight: bold !important;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.featured-filters span:hover{
  color: #015ADE;
  border-color: #015ADE;
}

.featured-filters span.active{
  color:#015ADE;
}

  
/* Banners section */

.banners{
  background: linear-gradient(180deg, #f5f5f5 50%, #fff 0%);
}

.banner-img{
  position: relative;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
}

.banner-img::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 16px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
  z-index: 1;
}

.banner-img:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
  z-index: 1;
}

.banner-img img{
  max-width: 100%;
  border-radius: 10px;
}

.span-inner-banner {
  left: 3%;
  position: absolute;
  z-index: 2;
  width: 63%;
}

.span-inner-banner .slider_btn{
  font-size: 16px;
  font-weight: 500;
  padding: 17px 31px;
  text-transform: capitalize;
  transition: .3s ease;
  background-color: #015ADE;
  border-radius: 30px;
  letter-spacing: 0.3px;
  box-shadow: 0 0 5px #0003;
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
}

.span-inner-banner .slider_btn a{
  font-weight: 500;
  text-transform: capitalize;
  transition: .3s ease;
  color: #fff;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.span-inner-banner .slider_btn:hover{
  background-color: #ffffff!important;
}


.span-inner-banner .slider_btn:hover a {
  color: #015ADE!important;
}

.span-inner-banner p:nth-of-type(1){
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.span-inner-banner p:nth-of-type(2){
  font-size: 28px;
  line-height: 36px;
  margin: 10px 0;
  color: #fff;
}

.span-inner-banner p:nth-of-type(3){
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 0px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 10px 0;
}
 

 /* Logo slider section */

.logo-slider-section{
  margin-top: 80px;
  margin-bottom: 80px!important;
}

 


 