@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  margin-bottom: 0!important;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
}

.container{
  max-width: 1480px;
  margin: auto;
}

img, svg {
  vertical-align: inherit;
}

 /* topbar */

.topbar{
  background: #F5F5F5;
  color: #000000;
  font-size: 14px;
  padding: 10px 0;
}

.topbar-text img:nth-of-type(1){
  margin-right: 10px;
}

.topbar-text img:nth-of-type(2){
  margin-right: 13px;
  margin-left: 30px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-text{
  display: flex;
}

.dropdown{
  position: relative;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 7px 0px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 2px 2px 11px rgb(0 0 0 / 10%);
  width: 80px;
  border-radius: 5px;
 
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

 
.dropdown:hover .dropdown-content {
  display: block;
}

/* header-top */

.header-top{
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.header-search{
  flex-grow: 0.50;
}



.wbtop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-search-widget{
 display: flex;
 position: relative;
}

 
.customSelect{
  width: 170px;
  height: 50px;
  appearance: none;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 1px solid #eee;
  padding: 10px 10px 10px 20px;
  text-transform: capitalize;
  outline: none;
  width: 170px;
  height: 50px;
  background-color: #f5f5f5;
}


.search-field{
  color: #000;
  height: 50px;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  padding: 8px;
  flex: 1;
}

.customSelectArrow{
  background: url(../images/down_arrow.png) no-repeat ; 
  width: 15px;
  height: 15px;
  position: absolute;
  left: 9rem;
  top: 45%;
  cursor: pointer;
}

.customSelectOpen{
  background: url(../images/up_arrow.png) no-repeat ; 
  width: 15px;
  height: 15px;
  position: absolute;
  left: 9rem;
  top: 45%;
  cursor: pointer;
}

.product-search-widget button{
  padding: 9px 50px;
  border-radius: 0 30px 30px 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  border: none;
  outline: none;
  background-color: #015ADE;
  transition: 0.4s;
  letter-spacing: 1px;
  cursor: pointer;
}

.product-search-widget button:hover{
  background-color: #000000;
}



.headerbottom-text {
  font-size: 18px;
  color: #000000;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: bold;
  animation: flicker 1.2s infinite;
  float: right;
  padding: 13px 0 13px 50px;
  position: relative;
}

.headerbottom-text::before{
  position: absolute;
  background-size: 100%;
  background: url(../images/label1.svg) no-repeat;
  height: 33px;
  width: 33px;
  content: "";
  left: 5px;
  top: 6px;
}

@keyframes flicker {
  50% {
    color: #015ADE; 
	}

  100% {
    color: #000000; 
	} 
}

/* headerbottom */

.header-bottom{
  padding: 5px 0;
}

.wbbottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0px;
}

.category-list{
  display: flex;
  cursor: pointer;
}

.category-list h3{
  padding-left: 40px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}

.category-list h3::before{
  position: absolute;
  content: '';
  height: 14px;
  width: 32px;
  background: url(../images/menu.svg) no-repeat;
  background-size: 88%;
  left: 0;
  display: inline-block;
}

/* mega-menu */

.megamenu{
  padding: 0;
  border: 1px solid #e4e4e4;
  background: #fff;
  position: absolute;
  width: 265px;
  list-style: none;
  z-index: 9;
  top: 11.5rem;
  display: none;
  border-radius: 5px;
  background-color: #fff !important;
  cursor: pointer;
}

.header-bottom ul.megamenu li{
  padding: 14px 14px;
  transition: 0.5s;
}

.header-bottom ul.megamenu li a{
  text-transform: capitalize !important;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.header-bottom ul.megamenu li:nth-of-type(1) a::after{
  content: '\f105';
  position: absolute;
  font-family: FontAwesome;
  top: 6%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: auto;
  right: 10px;
}

.header-bottom ul.megamenu li ul .megamenu-list li a::after{
  content: none;
}
.header-bottom ul.megamenu li ul .megamenu-list-last li a::after{
  content: none;
}


.header-bottom ul.megamenu li:hover a{
  color:#015ADE;
}

/* sidemenu */

.header-bottom ul.megamenu li:nth-of-type(1) ul{
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 11px 10px;
  text-align: left;
  display: flex;
  /* transition: 0.5s; */
  left: 100%;
  width: 760px;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  z-index: -1;
  flex-wrap: wrap;
}

/* .header-bottom ul.megamenu li:nth-of-type(1):hover ul {
	opacity: 1;
} */

.header-bottom ul.megamenu li:nth-of-type(1) ul li{
  padding: 8px 0px;
  list-style-type: none;
  display: block;
}

.header-bottom ul.megamenu li:nth-of-type(1) ul li a{
  font-size: 14px;
  color: #000;
  transition: 0.5s;
}

.header-bottom ul.megamenu li:nth-of-type(1) ul li:hover a{
  color: #015ADE;
}

.megamenu-list{
  flex: 0 0 22%;
}

.megamenu-list-last{
  flex:0 0 48%;
}

.megamenu li ul .megamenu-list li:nth-of-type(1) a{
  font-weight: 800;
}
.megamenu li ul .megamenu-list-last li:nth-of-type(1) a{
  font-weight: bold;
}



.last-items, .last-items-2{
  display: flex;
  transition: 0.5s;
}

.last-items-2{
  display: flex;
  align-items: center;
}

.last-items-span-1{
  text-overflow: ellipsis;
  line-height: 18px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 4px;
  transition: 0.5s;
}

.last-items-span-1 span, .last-items-span-2 span{
  transition: 0.5s;
}

.last-items-span-2{
  display: inline-block;
  width: 68%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 4px;
  transition: 0.5s;
}

.last-2-items-span{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 13rem;
  padding-left: 13px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s;
}

.last-2-items-span span{
  transition: 0.5s;
}

.last-2-items-span span:hover{
  color: #015ADE;
}

.last-items:hover .last-items-span-1 span:nth-of-type(1){
  color: #015ADE;
}

.last-items:hover .last-items-span-2 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-2:hover .last-items-span-1 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-2:hover .last-items-span-2 span:nth-of-type(1){
  color: #015ADE;
}

.last-items-span-1 div, .last-items-span-2 div{
  padding-top: 17px;
}



.navigation ul{
  display: flex;
  align-items: center;
  margin: 0;
}

.navigation ul li span::after{
  content: "\f078";
  font-family: fontawesome;
  display: inline-block;
  color: #000;
  position: unset;
  font-size: 8px;
  margin-left: 5px;
  line-height: 21px!important;
  vertical-align: top;
}



.navigation:nth-of-type(1) ul li{
  list-style-type: none;
  margin: 0 28px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-transform: capitalize;
}

.navigation ul li a{
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.navigation ul li a:hover{
  color:#015ADE;
}


.account-cart{
  display: flex;
}

.account-card-images{
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.wishlist-menu, .topbar-link, .header-cart{
  cursor: pointer;
}

.wishlist-menu p, .topbar-link p, .header-cart p{
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  margin: 0;
}

.topbar-link:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.topbar-link:hover  p {
  color:#015ADE;
}

.wishlist-menu:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.wishlist-menu:hover  p {
  color:#015ADE;
}


.header-cart:hover  img {
  filter: invert(18%) sepia(80%) saturate(5289%) hue-rotate(212deg) brightness(95%) contrast(99%);
}
.header-cart:hover  p {
  color:#015ADE;
}




 

.wishlist-menu span:nth-of-type(1) img{
  width: 33px;
  height: 33px;
}

.flex-cards{
  display: flex;
  align-items:center;
  position: relative;
}

.quanitity{
  position: absolute;
  text-align: center;
  line-height: 15px;
  top: 1px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  right: 41px;
  background-color: #015ADE !important;
}






.navigation li{
  position:relative;
}

.navigation  li  ul{
  background:rgba(0,0,0,0.1);
  position:absolute;
  top:100%;
  left:0;
  opacity:0;
  visibility: hidden;
  transform: translateY(20px);
  transition:all 200ms ease-in-out;
  width: 235px;
  padding-left: 0;
  z-index: 2;
}
 
 

.navigation  li:hover  ul{
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 11px rgb(0 0 0 / 10%);
  border-radius: 5px;
  display: inline;
  text-align: left;
  opacity:1;
  visibility: visible;
  transform: translateY(0px);
  transition:all 300ms ease-in-out;
  width: 235px;
  z-index: 2;
}
 

.navigation ul li:nth-of-type(3) ul li{
  list-style-type: none;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 20px;
  padding-left: 25px;
}

.navigation ul li:nth-of-type(3) ul li:nth-of-type(3){
  margin-bottom: 20px!important;
}


.navigation ul li:nth-of-type(3) ul{
  display: inline;
}


/* carousel */

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.6s;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}


.carousel-indicators [data-bs-target] {
  background-color: #015ADE !important;
  height: 16px !important;
  width: 16px !important;
  margin: 0 6px;
  border-radius: 20px;
  border-top: none!important;
  border-bottom: none!important;
  transition: 0.5s;
}

.carousel-indicators .active{
background-color: #ffffff!important;
}

.carousel-inner{
  border-radius: 12px;
}

.carousel-caption{
  position: absolute;
  bottom: 6.25rem;
  left: 3%;
  color: #fff;
  text-align: center;
}

.main_box{
  text-align: left;
  max-width: 68%;
}

.main_box p{
  font-size: 28px;
  text-transform: uppercase;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.main_box h2{
font-size: 42px;
line-height: 58px;
margin: 15px 0;
margin-bottom: 15px!important;
margin-top: 15px;
text-transform: uppercase;
}

.main_box p:nth-of-type(3){
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-transform: initial;
  font-weight: 400;
  padding-top: 25px;
}

.main_box .slider_btn{
  font-size: 16px;
  font-weight: 500;
  padding: 17px 31px;
  text-transform: capitalize;
  transition: .3s ease;
  background-color: #015ADE;
  border-radius: 30px;
  letter-spacing: 0.3px;
  box-shadow: 0 0 5px #0003;
  margin-top: 40px;
  display: inline-block;
  cursor: pointer;
}

.main_box .slider_btn a{
  font-weight: 500;
  text-transform: capitalize;
  transition: .3s ease;
  color: #fff;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.main_box .slider_btn:hover{
  background-color: #ffffff!important;
}

.main_box .slider_btn a:hover{
  color: #015ADE!important;
}




/* widgets */

.firs-widget, .second-widget{
  position: relative;
  display: flex;
}

.firs-widget img, .second-widget img{
  border-radius: 12px;
  max-width: 100%;
}

 

.text3{
  padding-bottom: 9px;
}


.static-inner{
  display: inline-flex;
  position: absolute;
  top: 11%;
  flex-direction: column;
  /* align-items: center; */
  /* display: grid; */
  left: 4%;
  width: 59%;
  text-align: left;
}

.static-text{
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.static-inner span:nth-of-type(2){
  padding: 10px 0px 10px 0px;
}

.elements-widget .second-widget .static-inner span.static-text:nth-of-type(5){
  padding: 10px 0px 10px 0px;
}


.text{
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
}

.firs-widget::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
}

.firs-widget:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
}

.second-widget::before{
  background-color: rgba(255,255,255,.3);
  content: "";
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate3d(1,1,0,100deg);
  transition: all 0.7s ease 0s;
  border-radius: 0px;
}

.second-widget:hover::before{
  opacity: 1;
  transform: rotate3d(0,0,0,0deg);
  transition-delay: 0.1s;
}




.responsive-topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.site-icon{
  display: flex;
  align-items: center;
}

.none{
  display: none;
}



